@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Varela+Round');


.places { 
    display: flex;
    width: 100%;
    justify-content: center;

    &-tags-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 42px;

        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media screen and (max-width: 575px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__tag {
        width: 100%;
        font-weight: 600;
        background: none; 
        border: solid 1px $placeCardFontColor;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        margin-right: 10px;
        font-size: 1em;
        @media screen and (max-width: 767px) {
          width: 240px;
        }
        @media screen and (max-width: 575px) {
            width: 320px;
        }
        
        &_selected {
            color: white;
            background: linear-gradient(90deg, #5884e8 0%, #2cc7de 100%);
        }
        @media screen and (max-width: 768px) { 
            padding: 5px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        &:hover {
            cursor: pointer;
            color: white;
            background: linear-gradient(90deg, #5884e8 0%, #2cc7de 100%);
        }
    }

    &-cards-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 1200px) { 
            max-width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        @media screen and (max-width: 1440px) { 
            max-width: 100%;
        } 
    }
}